.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

.header{
  border:solid black;
  display: flex;
  background-color: #052962;
  height: 120px;
  flex: wrap;

}
.headerLeft{
  margin: 0em;
  display: flex;
  flex-direction: column;
  
}

.leftHeaderCont{
  text-align: left;
  
}
.leftPar1{
  color:#ffe500;
  margin: 0em;  
  font-size: 20px;
  font-weight: 700;
  font-family: 'Jomolhari', serif;
}
.leftPar2{
  color:white;
  /* margin: 0em;   */
  font-size: 11px;
  font-weight: 600;
}
.headerbutton{
  background-color:#ffe500; 
  border: none;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  border-radius: 1.125rem;
  margin-right: 5px;
  padding: 5px;
}
.headline{
  margin-top: 0em;
  display: flex;
  width: 175%;
  text-align: center;
  color: grey;
  font-weight: 600;
  /* border: solid rgb(238, 26, 26); */
  height: 20px;
  flex-direction: column;
  /* flex :wrap; */
}
.headlineCont{
  padding:2px;
  margin-bottom: 2px;
  color: grey;
  font-weight: 600;
  font-size: 11px;
  text-align: left;
  border-width: 3px;
  top: -1000px;
  line-height: -30px;
  /* margin-bottom: -1000px */
}

.nav{
  text-align: left;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  color: white;
  margin-bottom: 0em;
  list-style-type: none;
  /* width: 300px; */


}
.option{
  border: solid grey 1px;
  /* border-bottom: none; */
  border-width: 2px;
  padding-left: 10px;
  padding-right: 30px;
  font-family: 'Jomolhari', serif;
  font-weight: bolder;
  font-size: 15px;
  padding-top:10px;
  padding-bottom: 5px;
  /* margin-right: 00px; */

}


.headerRight{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 0em;
  text-align: justify;
  width: 450px;
  
}
.RightH{
  font-size: 11px;
  color: white;
  margin: 0em;
  font-weight: 600;
  /* border-left: solid black; */
}
.title{
  margin: 0em ;
  font-size: 40px;  
  font-weight:bolder;
  color: white;
  font-family: 'Jomolhari', serif;
  line-height: 35px;
  text-align: center;
}


/* -----------------------grid2----------- */

.weatherTable{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
}
.day1{
  width: 75px;
  height: 150px;
  border: solid;
}

.day2{
  width: 75px;
  height: 150px;
  border: solid;
  
}
.day3{
  width: 75px;
  height: 150px;
  border: solid;
  
}


.gridContainer{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(75px, auto);
  border: solid black;
  margin-right: 50px;
  margin-left: 50px;
}

.grid1{
  border: solid black;
  grid-column: 1 /13;
  grid-row: 1;
  line-height: 10px;
  height: 150px;



}
.grid2{
  border: solid black;
  grid-column: 1/4;
  grid-row: 2 / 8;
}
.grid3{
  border: solid black;
  grid-column: 4/10;
  grid-row: 2 / 4;
}
.grid4{
  border: solid black;
  grid-column: 4/8;
  grid-row: 4 / 8;
  
}
.grid5{
  border: solid black;
  grid-column: 8/10;
  grid-row: 4 / 6;

}
.grid6{
  border: solid black;
  grid-column: 8/10;
  grid-row: 6/ 7;
}
.grid7{
  border: solid black;
  grid-column: 8/10;
  grid-row: 7/ 8;
}
.grid8{
  border: solid black;
  grid-column: 10/12;
  grid-row: 2/ 4;
}
.grid9{
  border: solid black;
  grid-column: 10/12;
  grid-row: 4/ 5;
}
.grid10{
  border: solid black;
  grid-column: 10/12;
  grid-row: 5/ 6;
}
.grid11{
  border: solid black;
  grid-column: 10/12;
  grid-row: 6/ 7;
}
.grid12{
  border: solid black;
  grid-column: 10/12;
  grid-row: 7/ 8;
}
