.App {
  text-align: center;
}
header{
  border:solid black;
  display: flex;
  background-color: #052962;
  height: 120px;
  flex: wrap;
}

.headerLeft{
  margin: 0em;
  display: flex;
  flex-direction: column;
}
